@model StatisticModel

<h2>Statistics</h2>

<table class="table">
    <thead>
        <tr>
            <th>Statistic</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total Quizzes</td>
            <td>@Model.TotalQuizzes</td>
        </tr>
        <tr>
            <td>Total Authors</td>
            <td>@Model.TotalAuthors</td>
        </tr>
    </tbody>
</table>
