@model StatisticModel
@{
    ViewBag.Title = "Statistics";
}
<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>Statistic</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total Authors</td>
            <td>@Model.TotalAuthors</td>
        </tr>
        <tr>
            <td>Total Quizzes</td>
            <td>@Model.TotalQuizzes</td>
        </tr>
        <tr>
            <td>Total Trivias</td>
            <td>@Model.TotalTrivias</td>
        </tr>
    </tbody>
</table>
