@{
    ViewData["Title"] = "Did u know..?";
}

<h1 class="text-center">
    @ViewData["Title"]
</h1>
<div class="text-center">
    <img src="~/Images/ask-blackboard-356079-900x.jpg" style="width: 75vh"/>
</div>  
